<!--Title-->
<h1 class='f1' style="text-align: center; margin-bottom: 2rem;">Presto Mobile App Planner</h1>
<!--End of Title-->



<!--Overview-->
<div class="f2 section project overview">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-6">
            <img class="img-fluid" src="../Assets/Images/Portfolio.png" alt="overview" width="400" height="500">
        </div>

        <div class="col-lg-6 col-md-6 ">
            <p>By putting essential trip planning features into a complete package, our new PRESTO app is
                designed
                to make the transit
                planning process more efficient and easy to use.</p>
        </div>
    </div>

    <div class="row">
        <h5>My Role</h5>
        <p>UX researcher/designer. With the team of three other designers I worked collaboratively on each
            stage
            of
            the process
            that includes empathize, user research, definition and ideation, prototyping and testing stages.
        </p>
    </div>

</div>
<!--End of Overview-->



<!--Research-->
<div class="row f3">
    <h4>Research</h4>
    <p>We started our user research by condicting a survey using Google Forms. The goal was to study out how
        often
        users take
        public transport and what tools they use to plan a commute.</p>
    <p>HIGH IMPORTANCE QUESTIONS</p>
    <ul>
        <li>When was the last time you took public transit?</li>
        <li>How often do you take public transit?</li>
        <li>Do you use any apps to plan your commute? If so, which?</li>
        <li>Do you use multiple transit services for one trip? If so, which?</li>
        <li>Are you satisfied with the level of service of your transit service?</li>
    </ul>
</div>

<div class="row f4">
    <h5>Survey Findings</h5>
    <div class="col-lg-10">
        <img class="img-fluid" src="../Assets/Images/Survey_Findings.png" alt="survey_findings">
    </div>
</div>

<div class="f5">
    <div class="row">
        <h5>User Interviews</h5>
        <div class="col-lg-10">
            <p>With data received from survey we’ve dived deeper into understanding the audience's
                experience
                and
                conducted user
                interviews. The main obkectives of this stage were:</p>
            <ul>
                <li>To understand past and present experiences with transit commuting</li>
                <li>To understand the kind of services interviewees currently use for a commute (ie. bus
                    tracking
                    apps)
                </li>
                <li>To understand the sort of issues or problems user face during the commute</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <h5>Insights</h5>
        <div class="col-lg-10">
            <p>We conducted 5 user interviews and all responds and notes were synthetized using Insight Map
                and
                Affinity
                Diagram methods.</p>
            <ul>
                <li>To understand past and present experiences with transit commuting</li>
                <li>To understand the kind of services interviewees currently use for a commute (ie. bus
                    tracking
                    apps)
                </li>
                <li>To understand the sort of issues or problems user face during the commute</li>
            </ul>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-8">
            <img class="img-fluid" src="../Assets/Images/Insights.png" alt="insights">
        </div>

        <div class="col-lg-4">
            <p>“Using so many apps to plan my travel to work or home, makes me not want to use them at all.”
            </p>
        </div>
    </div>

    <div class="row">
        <h5>User Persona</h5>
        <div class="col-lg-10">
            <p>Based on user interviews, we defined our User Persona as a one for whom commuting to work is
                not
                optional. So the
                necessity to take public transport and be on time is highly important.</p>
        </div>

        <div class="col-lg-6">
            <img class="img-fluid" src="../Assets/Images/Presto_User_Persona.png" alt="insights">
        </div>
    </div>

    <!--End of Research-->




    <!--Definition & Ideation-->
    <div class="row">
        <h4>Definition & Ideation</h4>
        <p>With learning and studying the audience’s experience we compiled generalized User Insight, that
            was a
            base
            point in
            definig the Problem Statement.</p>
        <p>Joseph wants a more efficient way of planning his commutes because, as of now, he finds himself
            using
            way
            too
            many apps
            to do so.</p>
        <h5>Feature Prioritization</h5>
        <p>We put forward our proposes for problem’s solution and emphasized four major features we could
            elaborate.
        </p>
        <div class="col-lg-8">
            <img class="img-fluid" src="../Assets/Images/Presto_Feature_Prioritization_1.png"
                alt="feature_prioritization_1">
        </div>
        <p>While “View parking availability at stations” and “Ability to share funds through app” seem
            effective,
            nonetheless it
            doesn’t solve current user’s need. Thence, we focused on adding scheduling and tracking
            functionalities
            to
            existing app.</p>
        <div class="col-lg-8">
            <img class="img-fluid" src="../Assets/Images/Presto_Feature_Prioritization_2.png"
                alt="feature_prioritization_2">
        </div>
    </div>

    <div class="row">
        <h5>User Journey</h5>
        <p>To evaluate at what particular moment our user feels frustrated we applied User Journey Map
            method.
            We
            found
            that
            searching information using multiple resources and switching between them is both confusing and
            annoying.
            The climactic
            bringdown happens when inconsistency in schedules and sometimes even absence of transport’s
            timetables
            cause
            missing the
            bas or train.</p>
        <div class="col-lg-6">
            <img class="img-fluid" src="../Assets/Images/Presto_User_Journey.png" alt="user_journey">
        </div>
    </div>

    <div class="row">
        <h5>Problem Statement</h5>
        <p>During the user interviews, we discovered that there is no go-to app for transit planning.
            Therefore, we believe that accurate schedule planning is important and that we might be able to
            help
            if
            we
            can include
            that feature onto an existing app.
            We might do this by improving the Presto app functionality with reliable scheduling features.
            Doing
            this
            will allow our
            product to be the go-to app for GTA riders.</p>
        <h5>Competitor Analysis</h5>
        <p>To evaluate market we conducted Competitor Analysis. Our major contenders are Google Maps and
            Rocketman
            Mobile App. With
            certain advantages that these services have we found number of issues, among them ransit times
            might
            not
            be
            the most
            accurate at times, GPS detection can be iffy at times, won't update real-time location during
            travel.
        </p>
        <div class="col-lg-6">
            <img class="img-fluid" src="../Assets/Images/Presto_Competitor_Analysis.png" alt="competitor_analysis">
        </div>
    </div>

    <!--End of Definition & Ideation-->



    <!--Wireframing & Prototyping-->
    <div class="row">
        <h4>Wireframing & Prototyping</h4>
        <p>Since we work on a new feature for existing Presto app, we focused on designing and cohesiveness
            of
            this
            feature with
            already existing functionalities.</p>
        <h5>User Flow</h5>
        <p>With new feature implemented our users will get an extra paths. We defined the user flow for
            interacting
            with
            new
            functionality.</p>
        <div class="col-lg-6">
            <img class="img-fluid" src="../Assets/Images/User_Flow.png" alt="user_flow">
        </div>

    </div>

    <div class="row">
        <h5>Sketching</h5>
        <p>With started our desing stage with paper wireframing.</p>

        <div class="col-lg-6">
            <img class="img-fluid" src="../Assets/Images/Wireframing.png" alt="wireframing">
        </div>

        <h5>Lo-Mid Fidelity Prototype</h5>
        <div class="col-lg-8">
            <img class="img-fluid" src="../Assets/Images/Lo_Fi.png" alt="lo_fi">
        </div>
    </div>

    <div class="row">
        <h5>Testing & Iteartions</h5>
        <p>We conducted 5 usability tests, compiled the feedback and taking into account all the usability
            testing’s
            findings
            completed iteration and transfered our prototypy into hi-fidelity version.</p>
        <p>USABILITY TESTING NOTES</p>
        <ul>
            <li>“Register” button was not clear</li>
            <li>Navigation bar was unclear with all the same icons</li>
            <li>“Planner” section was a little hard to locate</li>
            <li>Unclear if certain elements on options page were clickable</li>
            <li>Unclear on what “Track” button would do</li>
            <li>Unclear about bus times page</li>
            <li>Filler text was a bit off-putting</li>
            <li>Certain filler elements caused more confusion</li>
        </ul>

        <h5>Hi-Fidelity Prototype</h5>

        <div class="col-lg-2">
            <img class="img-fluid" src="../Assets/Images/Hi-Fi_1.png" alt="hi_fi_1">
        </div>

        <div class="col-lg-6">
            <img class="img-fluid" src="../Assets/Images/Hi-Fi_2.png" alt="hi_fi_2">
        </div>
    </div>

    <div class="row">
        <h5>Project Takeaways & Future Opportunities</h5>
        <p>We have developed and added new functionings to the existing Presto Mobile App. Our new PRESTO
            trip
            planner
            feature is
            designed to make the transit planning process more efficient and easy to use. And it does away
            with
            the
            need
            to have
            multiple tools to commute in Toronto and GTA.</p>
        <p>For further extention we consider build out some of the other mentioned features in the app (ie.
            Share
            funds,
            parking
            spots availability).</p>
    </div>
</div>
<!--End of Wireframing & Prototyping-->