<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Pollution Probe</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

</head>

<body>
    <!--Header-->
    <section class="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--margin left here-->
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../Assets/Images/Logo.png" alt="logo" width="40" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <!--ms-auto here to align right-->
                        <li class="nav-item dropdown">
                            <!-- <a class="nav-link active" aria-current="page" href="#">Work</a> -->
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                work<img id="chevron" src="../Assets/Images/chevron_down.png" alt="chevrone">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="./presto.html">Presto</a></li>
                                <li><a class="dropdown-item" href="./costco.html">Costco Homepage Redesigning
                                        Project</a></li>
                                <li><a class="dropdown-item" href="./PollutionProbe.html">Pollution Probe Website
                                        Redesign</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/about.html">about</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!--End of Header-->

    <!--Title-->
    <h1 class='f1' style="text-align: center;">Pollution Probe Website Redesign</h1>
    <!--End of Title-->

    <!--Overview-->
    <div class="section f2 project overview">
        <div class="row">
            <h4>Project Overview</h4>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <p>Pollution Probe is a nonprofit group that seeks to improve Canadian's health through research,
                    education, promotion and
                    advocacy of actions to reduce pollution. As UX/UI designers we worked with our client Sabah Ibrahim
                    to create a digital
                    experience that will encourage people to become a part of the community and foster support networks
                    to assist the
                    organization’s initiatives.</p>
            </div>

            <div class="col-lg-6">
                <img class="img-fluid" src="../Assets/Images/Project_Overview_1.png" alt="original_look_1" width="400"
                    height="500">
            </div>

            <div class="col-lg-6">
                <img class="img-fluid" src="../Assets/Images/Project_Overview_2.png" alt="original_look_2" width="400"
                    height="500">
            </div>

            <div class="row">
                <h5>Problem</h5>
                <div class="col-lg-10">
                    <p>The Pollution Probe’s current webaite design is outdated and cluttered with content that doesn’t
                        communicate the
                        organization’s mission statement clearly.</p>
                </div>
            </div>


            <div class="row">
                <h5>Solution</h5>
                <div class="col-lg-10">
                    <p>Re-designing the existing content-heavy website to a minimal, visually communicative one with a
                        clear brand statement.</p>
                </div>
            </div>

            <div class="row">
                <h5>My role & process</h5>
                <div class="col-lg-10">
                    <p>I was the user researcher and interface designer in a four-person team. We conducted a multistep
                        UX process along with
                        kick-off meeting, analysis, in-depth research that followed conceptualization, converging on a
                        design, mockup &
                        wireframes, prototype and design validation. We worked collaboratively on each stage of the
                        process.</p>
                </div>
            </div>

        </div>
    </div>
    <!--End of Overview-->

    <!--Research-->
    <div class="section f3 research">
        <div class="row">
            <h4>Research</h4>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <p>The research began by assessing the current website to become familiar with its current structure and
                    brand identity.
                    Our research primarily concentrated on the navigation, key features of the website, and visual
                    elements for creating an
                    important brand voice but were missing in the existing website.</p>
            </div>
        </div>

        <div class="row">
            <h5>Heuristic evaluation</h5>
            <div class="col-lg-10">
                <p>A heuristic evaluation on the homepage was conducted to assess the current website’s user interface
                    and detect the
                    usability issues that may occur when users interact with the product.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img class="img-fluid" src="../Assets/Images/Heuristic Evaluation.png" alt="original_look_1" width="400"
                    height="500">
            </div>

            <div class="col-lg-6">
                <ul>
                    <li>Website needs to be worked upon as the current design lacks proper visual accents, which causes
                        difficulties when
                        browsing the page</li>
                    <li>User control and freedom is not supported. Whatever data user inputs in the sign up form,
                        website will proceed to the
                        next step and doesn’t allow users to make any changes or cancel the action</li>
                    <li>The current design lacks aesthetic. It’s out of date and looks unprofessional.
                        The minimalism of the design is there, but with points mentioned above it doesn’t work</li>
                    <li>Homepage is cluttered with less than enough information and unnecessary animations</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <h5>User interviews</h5>
            <div class="col-lg-10">
                <p>The research process got kick-started by interviewing 5 users interested in environmental
                    conservation to know more
                    about their expectations and the issues they might have faced in the past. The interviews were
                    conducted by asking
                    open-ended questions related to the defined research objectives to gain deep insights.</p>
                <p>Research goal: To understand what problems and constraints the users have when interacting with
                    environmental
                    organization websites.</p>
                <p>Interview plan: To identify and learn more about users’ experience, we established three User
                    Research Objectives:</p>
                <ul>
                    <li>What is user’s motivation to participate in environment protection initiatives?</li>
                    <li>What information do users expect/need to find on websites of environment organizations?</li>
                    <li>What issues users have when they use any website of the environment organizations?</li>
                </ul>
                <p>Overall we planned ten questions for respondents who cleared our two screening questions.</p>
            </div>
        </div>

        <div class="row">
            <h5>Affinity diagram</h5>
            <div class="col-lg-4">
                <img class="img-fluid" src="../Assets/Images/Affinity_Diagram.png" alt="Affinity_Diagram" width="500"
                    height="600">
            </div>

            <div class="col-lg-6">
                <h5>Pain Points</h5>
                <ul>
                    <li>Not all non-profit websites related to environmental preservation look trustworthy</li>
                    <li>Users prefer the non-profits to be either supported by the government or shared with them by
                        family and friends</li>
                    <li>Prior to donating , users want to understand where their money will be allocated and how exactly
                        it will help the cause</li>
                    <li>Some environmental websites’ content is overwhelming</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <h5>Stakeholder interviews</h5>
            <div class="col-lg-10">
                <p>Parallelly we also conducted an interview with the Research & Communications Co-ordinator of the
                    Pollution Probe
                    organization. The goal was to understand what areas and sections of the website need to be improved
                    from the agency's
                    perspective.</p>
                <h5>Insights</h5>
                <ul>
                    <li>The website is old and needs an upgrade</li>
                    <li>It's a challenge for the organization to present who they are effectively</li>
                    <li>Cross-functionality needs to be improved</li>
                    <li>Stakeholders would like to see more visuals, smooth and clear transitions</li>
                    <li>The website needs to have an interactive timeline</li>
                </ul>
            </div>
        </div>


        <div class="row">
            <h5>Competitor analysis</h5>
            <div class="col-lg-10">
                <p>The websites of direct competitors were then analyzed to see how they perform on the parameters
                    determined by our
                    research.</p>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid" src="../Assets/Images/Competitor_analysis.png" alt="Competitor_analysis">
                </div>
            </div>
        </div>

        <div class="row">
            <h5>User Persona</h5>
            <div class="col-lg-10">
                <p>Based on the information that we gathered through interviews, we created our user persona, identified
                    her major
                    expectations as following.</p>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid" src="../Assets/Images/User_Persona.png" alt="User_Persona">
                </div>
            </div>
        </div>

        <div class="row">
            <h5>Expectations</h5>
            <div class="col-lg-10">
                <ul>
                    <li>Users want to find all the information they're looking for using only one resource</li>
                    <li>The website should show what the organization is about, what they do, and their previous
                        successes</li>
                    <li>A website should provide information about their programs and initiatives</li>
                    <li>Donation options should be clear and easy to find</li>
                </ul>
            </div>
        </div>


    </div>
    <!--End of Research-->


    <!-- Ideation & DEfinition -->
    <div class='f4'>
        <hr class="section Ideation & Definition">
        <div class="row">
            <h4>Ideation & Definition</h4>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <p>Based on data and takeaways we gained at Research stage we brainstormed the User’s Insight and
                    Problem statement, uaing
                    POV template.</p>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid" src="../Assets/Images/Ideation_and_Definition.png"
                        alt="Ideation_and_Definition">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <h5>User insight</h5>
                <p>“Dianna, a young woman of age 28, is concerned to see the damage that humankind has caused to the
                    Nature. She knows she
                    cannot bring about a big change alone but feels motivated to contribute her bit by actively working
                    with organizations
                    that work for environment conservation. She also wants to share and spread this awareness with her
                    friends and family in
                    hope that her small actions might stir up a wave of change for a better world, to live in, one day.”
                </p>
                <h5>Problem Statement</h5>
                <p>Environmentally concerned individuals who are eager to take action want to find ways to
                    control/reduce pollution and its
                    ill-effects. However, they feel challenged to find the right agency as a lot of research goes into
                    distinguishing
                    authentic organizations from the fake ones. Given their genuine interest towards environment
                    conservation, they want to
                    make sure that their contribution is actually utilized to make a difference.
                    How might we help environmentally concerned individuals like Dianna access information about the
                    initiatives that they
                    can support to help them achieve their goal of environmental conservation so that their actions
                    encourage more people to
                    get aligned with this goal.</p>
            </div>
            <h5>Feature prioritization</h5>
            <p>As we know our user better, we then went ahead and conducted the “I like, I wish and What if”
                brainstorming method to
                generate ideas that we would like to see and also analyze what features we would keep or change on the
                current website
                of the organization.</p>
            <p>We did do voting to identify our top ideas and then arranged them on the basis of their effect and
                feasibility. The top
                features that we identified include:</p>
        </div>


        <div class="row">
            <div class="col-lg-4">
                <img class="img-fluid" src="../Assets/Images/Feature_Prioritization.png" alt="Feature_Prioritization"
                    width="400" height="500">
            </div>

            <div class="col-lg-6">
                <ul>
                    <li>Easier and more interactive website for the users</li>
                    <li>Showcase Who and What the organization is all about</li>
                    <li>Featuring the Donation page they currently have and bringing some more emphasis on it on the
                        homepage</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <h5>Assessing navigation</h5>
                <p>To assess website’s navigation we used card sorting method. We did an open card sorting in two
                    rounds.
                    The first round concentrated on the placement of different options under different categories and
                    our results were same
                    as the existing website navigation. Then we moved on to see if the existing titles come across as
                    intuitive to the users
                    or not. Eventually, we ended up changing two headings and also removed the duplicate and the
                    redundant options from the
                    navigation to make it more streamlined and usable.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-10">
                <img class="img-fluid" src="../Assets/Images/Assesing_Navigation.png" alt="Feature_Prioritization">
            </div>
        </div>

        <div class="row">
            <h5>Sitemap</h5>
            <div class="col-lg-10">
                <p>The site map was developed based on the card sorting activity. “Share this page” is one feature that
                    is added to the
                    global utilities of the website. The footer and the social media links are consistent with the
                    existing website.</p>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid" src="../Assets/Images/Sitemap.png" alt="Sitemap">
                </div>
            </div>
        </div>
        <!-- End of Ideation & DEfinition -->
    </div>

    <div class='f5'>
        <!-- Wireframing & Prototyping -->
        <div class="row">
            <h4>Wireframing & Prototyping</h4>
            <div class="col-lg-10">
                <p>We started the design stage with Lo-Fi wireframing of homepage. We come up with two versions, after
                    that we discussed
                    and voted on the sections that we liked and combined them to form our final homepage wireframe.</p>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid" src="../Assets/Images/Wireframes_1.png" alt="Wireframes_1">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <p>With homepage layout been affirmed we designed lo-fi “About us” and “Donation” pages as we are
                    focused on redesigning
                    these sections.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <img class="img-fluid" src="../Assets/Images/Wireframes_2.png" alt="Wireframes_2" width="600"
                    height="700">
            </div>
        </div>

        <div class="row">
            <h5>Lo-Fi Usability Testing</h5>
            <div class="col-lg-10">
                <p>To identify usability issues early in the process, we conducted one set of user tests on our
                    low-fidelity wireframes.We
                    performed four user testings on our low-fidelity prototype.
                    Objective: To determine wether the redesigned website works as intended or not.</p>
                <p>During the testing our users aimed to accomplish 3 tasks:</p>
                <ul>
                    <li>Find further information about the organization</li>
                    <li>Make a donation</li>
                    <li>Share the homepage with a friend</li>
                    <p>All the received from user testings data we analysed and grouped into categories.</p>
                </ul>
            </div>
        </div>

        <div class="row">
            <h5>Data grouping</h5>
            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid" src="../Assets/Images/Data_grouping.png" alt="Wireframes_1">
                </div>
            </div>
        </div>

        <div class="row">
            <h5>Lo-Fi iterations</h5>

            <div class="row">
                <div class="col-lg-6">
                    <p>We iterated our low-fidelity wireframes based on the feedback from the user testing. The major
                        change we made was on the
                        design of the donation page.

                        We changed the content order and streamlined the donation process.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid" src="../Assets/Images/Wireframes_Iterated.png" alt="Wireframes_Iterated">
                </div>
            </div>
        </div>

        <div class="row">
            <h5>UI Style guide</h5>

            <div class="row">
                <div class="col-lg-10">
                    <p>Before moving to hi-fi wireframing our team aligned the design concept by creating UI system that
                        encompasses typography
                        system, color pallete, imagery usage, allignment rules, iconography.
                        We decieded to change and offer new logo as current one looks outdated and needs to be
                        refreshed.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <img class="img-fluid ui" src="../Assets/Images/UI_style_guide.png" alt="UI_style_guide">
                </div>
            </div>

        </div>

        <!-- End of Wireframing & Prototyping -->


        <!-- Final Product -->
        <div class="row pp-first">
            <div class="col-lg-10">
                <p>First iteration of our final product we designed in accordance with UI system.</p>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-4">
                <img class="img-fluid" src="../Assets/Images/Final_product_2.png" alt="Final_product_2" width="400"
                    height="500">
            </div>


            <div class="col-lg-6">
                <img class="img-fluid" src="../Assets/Images/Final_product_3.png" alt="Final_product_3" width="400"
                    height="500">
            </div>
        </div>



        <div class="row">
            <h5>Hi-Fi usability testing</h5>

            <div class="row">
                <div class="col-lg-10">
                    <p>We conducted second user testing on the high-fidelity prototype with the same tasks as the first
                        user testing. The
                        intention of this test was to determine if the design iteration solved the problems we found
                        from the first round of
                        user tests.</p>
                    <p>Feedback and notes we compiled using Insight Map method, then groupped this data into categories.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid" src="../Assets/Images/Hi-Fi_usability_1.png" alt="UI_style_guide">
                </div>

                <div class="col-lg-6">
                    <img class="img-fluid" src="../Assets/Images/Hi-Fi_usability_2.png" alt="UI_style_guide">
                </div>
            </div>

        </div>


        <div class="row pp-first">
            <div class="col-lg-10">
                <p>We found that overall confusion of the donation page has improved, and the concept of the website and
                    messages were now
                    more clear to users.
                    However, some new problems also came up, so we made another iteration.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <p>During the testing, some users did not notice the contents under the donation form. Therefore, we
                    added a link to see
                    other donation options on the prompt, which users will see after making a donation, so we can
                    encourage users to go to
                    see other sections of the page.</p>
            </div>

            <div class="col-lg-6">
                <img class="img-fluid" src="../Assets/Images/Contibute_now.png" alt="UI_style_guide">
            </div>
        </div>

        <div class="row pp-first">
            <div class="col-lg-10">
                <p>We also improved our contribution timeline on the about page to have more intuitive interaction for
                    users by adding an
                    indicator for the currently visible year.</p>
            </div>

            <div class="col-lg-8">
                <img class="img-fluid" src="../Assets/Images/Our_impact.png" alt="UI_style_guide">
            </div>
        </div>
        <!-- End of Final Product -->



        <!-- Evaluation & Future Opportunities -->

        <div class="row">
            <div class="col-lg-10">
                <p>Our final product we present to four senior UX/UI designers. The overall impression was good. It was
                    poinetd out that
                    redesign of the website was well done. Comparing the original version our new version is “a breath
                    of fresh air”. The
                    aesthetics of the UI works well and engaging users. The layout is balanced and has enough qhite
                    space to let the eyes
                    breath.
                    Among things to consider were the problem statement. It’s marked as not quite concise and needs to
                    be reiterated in
                    terms of why the website needs a redesign and how it affects the users</p>
            </div>

        </div>

        <div class="row">
            <h5>Future Opportunities</h5>
            <div class="col-lg-10">
                <p>Through our research we found out that people are more willing to donate their time and effort before
                    making a monetary
                    donation. So we would look into the possibility of providing volunteering opportunities easily
                    accessible on the
                    website.</p>
                <p>Work towards the responsive web design for the organization’s website and look into the possibility
                    of building an app
                    to increase interaction between the target audience and the agency.</p>
            </div>
        </div>
    </div>

    <!-- Next/Prev Case -->
    <div class="row pp-first">
        <div class="col-md-6">
            <a href="../Views/costco.html" class="project" tabindex="-1" role="button" aria-disabled="true">
                ᐊ View Previous Project</a>
        </div>
        <div class="col-md-6 text-end ">
            <a href="../Views/presto.html" class="project" tabindex="-1" role="button" aria-disabled="true">
                View Next Project ᐅ</a>
        </div>
    </div>


    <!--Footer-->
    <footer class="footer pb-1 bg-light">
        <div class="row links">
            <div class="col">
                <div class="row">

                    <div class="col col-sm-3 col-md-3 col-lg-3 col-xl-2">
                        <a class="email-link"
                            href="https://drive.google.com/file/d/1n3N2F0VDuVDbtKS9IpGz_LiXDh_C2J0A/view?usp=sharing">Rèsumè</a>
                    </div>
                    <div class="col col-sm-4 col-md-3 col-lg-3 col-xl-2">
                        <a class="email-link" href="https://www.linkedin.com/in/irinagadimova/">LinkedIn</a>
                    </div>
                    <div class="col col-sm-3 col-md-2 col-lg-3 col-xl-2">
                        <a class="email-link" href="https://github.com/Irina180586">GitHub</a>
                    </div>
                </div>
            </div>

            <div class="col text-end text-bottom">
                <a class="email-link" href="mailto:iriny.gadimova@gmail.com?subject=Hello%20Ira, %20let's%20chat!">
                    iriny.gadimova@gmail.com</a>
            </div>
        </div>
    </footer>
    <!--End of Footer-->
    <!--Separate Popper and Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
</body>
<script src="../Scripts/main.js"></script>

</html>