<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Presto</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/presto.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="../Assets/Images/Logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

</head>

<body>
    <section class="main">
        <!--Header-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--margin left here-->
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../Assets/Images/Logo.png" alt="logo" width="40" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav ms-auto">
                        <!--ms-auto here to align right-->
                        <li class="nav-item dropdown">
                            <!-- <a class="nav-link active" aria-current="page" href="#">Work</a> -->
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                work<img id="chevron" src="../Assets/Images/chevron_down.png" alt="chevrone">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="./presto.html">Presto</a></li>
                                <li><a class="dropdown-item" href="./costco.html">Costco Homepage Redesigning
                                        Project</a></li>
                                <li><a class="dropdown-item" href="./PollutionProbe.html">Pollution Probe Website
                                        Redesign</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Views/about.html">about</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--End of Header-->
    </section>


    <!-- Main Presto Image -->
    <div class="container-fluid w-100 h-auto m-0 p-0">
        <img class="img-fluid main_banner" src="../Assets/Images/Presto_CS_Cover.png" alt="presto_case_study">
    </div>

    <!-- Before We Start -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-8 presto_section">
                <span class="green">before we start</span>
                <span class="black">what is presto?</span>
                <span class="text">PRESTO is an electronic payment system that eliminates the need for tickets, tokens,
                    passes
                    and cash. PRESTO works
                    across local transit in the Greater Toronto and Hamilton Area (GTHA) and Ottawa, making paying for
                    your trip
                    simple,
                    convenient and secure.</span>
            </div>
        </div>
    </div>

    <!-- Overview the problem -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-8  presto_section">
                <span class="green">overview</span>
                <span class="black">the Problem</span>
                <span class="text">Transit commuters are often frustrated when planning and taking their trips because
                    they use multiple apps
                    simultaneously.</span>
            </div>
        </div>
    </div>

    <!-- We Offer Solution -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-8  presto_section">
                <span class="green">we offer</span>
                <span class="black">a solution</span>
                <span class="text">By putting essential trip planning features into a complete package, our new PRESTO
                    app is designed to make the transit
                    planning process more efficient and easy to use.
                </span>
            </div>
        </div>
    </div>

    <!-- My Role -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-8  presto_section">
                <span class="green">allocation</span>
                <span class="black">my role</span>
                <span class="text">UX researcher/designer. With three other designers, I worked collaboratively on each
                    stage of the process that includes
                    empathizing, user research, definition and ideation, prototyping and testing stages.</span>
            </div>
        </div>
    </div>

    <!-- The Approach -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-8 presto_section">
                <span class="green">research</span>
                <span class="black">the approach</span>
                <span class="text">We started our user research by condicting a survey using Google Forms. The goal was
                    to study out how often users take
                    public transport and what tools they use to plan a commute.</span>
            </div>
        </div>
    </div>

    <!-- Questions -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-8 presto_section">
                <span class="green">HIGH IMPORTANCE QUESTIONS</span>
                <ul class="list">
                    <li>When was the last time you took public transit?</li>
                    <li>How often do you take public transit?</li>
                    <li>Do you use any apps to plan your commute? If so, which?</li>
                    <li>Do you use multiple transit services for one trip? If so, which?</li>
                    <li>Are you satisfied with the level of service of your transit service?</li>
                </ul>
                </span>
            </div>
        </div>
    </div>

    <!-- Survey Findings go here -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-8 presto_section">
                <span class="small_black">survey findings</span>
            </div>
            <div class="row justify-content-between presto_survey">
                <div class="col-md-4 text-center prest_survey_element">
                    <img class="survey_img" src="../Assets/Images/Presto_Survey_1.png" alt="presto survey 1">
                    <br>
                    <br>
                    <span>Took public transport this year (2020)</span>
                </div>
                <div class="col-md-4 text-center prest_survey_element">
                    <img class="survey_img" src="../Assets/Images/Presto_Survey_2.png" alt="presto survey 1">
                    <br>
                    <br>
                    <span>Take public tranasport daily</span>
                </div>
                <div class="col-md-4 text-center prest_survey_element">
                    <img class="survey_img" src="../Assets/Images/Presto_Survey_3.png" alt="presto survey 1">
                    <br>
                    <br>
                    <span>Use multiple transport servicies for the trip</span>
                </div>
            </div>
        </div>
    </div>

    <!-- User Interviews -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="green">User Interviews</span>
                <span class="text">With data received from survey we’ve dived deeper into understanding the audience's
                    experience and conducted user
                    interviews. The main obkectives of this stage were:</span>
                <br>
                <ul class="list dash">
                    <li>To understand past and present experiences with transit commuting</li>
                    <li>To understand the kind of services interviewees currently use for a commute (ie. bus tracking
                        apps)</li>
                    <li>To understand the sort of issues or problems user face during the commute</li>
                </ul>
                </span>
            </div>
        </div>
    </div>

    <!-- Insights -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="small_black">insights</span>
                <span class="text">We conducted 5 user interviews and all responds and notes were synthetized using
                    Insight Map and Affinity Diagram
                    methods.</span>
                <!-- Insights Images here -->
            </div>
        </div>
    </div>

    <!-- User Persona -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="small_black">user persona</span>
                <span class="text">Based on user interviews, we defined our User Persona as a one for whom commuting to
                    work is not optional. So the
                    necessity to take public transport and be on time is highly important.</span>
                <!-- User Persona Images here -->
                <img class="persona" src="../Assets/Images/Presto_User_Persona.png" alt="presto user persona">
            </div>
        </div>
    </div>

    <!-- The Solution -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="green">DESIGN DECISIONS</span>
                <span class="black">IDEATING THE SOLUTION</span>
                <span class="text">With learning and studying the audience’s experience we compiled generalized User
                    Insight, that was a base point in
                    definig the Problem Statement.</span>
                <span class="italic">Joseph wants a more efficient way of planning his commutes because, as of now, he
                    finds himself using way too many apps
                    to do so.</span>
            </div>
        </div>
    </div>
    <br><br><br>

    <!-- Feature Prioritization -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="small_black">feature prioritization</span>
                <span class="text">We put forward our proposes for problem’s solution and emphasized four major features
                    we could elaborate.</span>
            </div>
        </div>
        <div class="row justify-content-between presto_survey">
            <div class="col-md-3 text-center prest_survey_element">
                <img class="survey_img" src="../Assets/Images/Presto Feature_1.png" alt="presto survey 1">
                <br><br>
                <span>low-high complexity</span>
                <hr class="divider">
                <span>high impact</span>
            </div>
            <div class="col-md-3 text-center prest_survey_element">
                <img class="survey_img" src="../Assets/Images/Presto_Feature_2.png" alt="presto survey 1">
                <br><br>
                <span>low complexity</span>
                <hr class="divider">
                <span>high impact</span>
            </div>
            <div class="col-md-3 text-center prest_survey_element">
                <img class="survey_img" src="../Assets/Images/Presto_Feature_3.png" alt="presto survey 1">
                <br><br>
                <span>high complexity</span>
                <hr class="divider">
                <span>high impact</span>
            </div>
            <div class="col-md-3 text-center prest_survey_element">
                <img class="survey_img" src="../Assets/Images/Presto_Feature_4.png" alt="presto survey 1">
                <br><br>
                <span>low-high complexity</span>
                <hr class="divider">
                <span>high impact</span>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="text">While “View parking availability at stations” and “Ability to share funds through
                    app” seem effective, nonetheless it
                    doesn’t solve current user’s need. Thence, we focused on adding scheduling and tracking
                    functionalities to existing app.</span>
            </div>
        </div>
        <div class="row justify-content-between presto_survey">
            <div class="col-md-3 text-center prest_survey_element">
                <img class="survey_img" src="../Assets/Images/Presto_Feature_1_Black.png" alt="presto survey 1">
                <br><br>
                <span>low-high complexity</span>
                <hr class="divider">
                <span>high impact</span>
            </div>
            <div class="col-md-3 text-center prest_survey_element">
                <img class="survey_img" src="../Assets/Images/Presto_Feature_2_Black.png" alt="presto survey 1">
                <br><br>
                <span>low complexity</span>
                <hr class="divider">
                <span>high impact</span>
            </div>
            <div class="col-md-3 text-center prest_survey_element">
                <img class="survey_img" src="../Assets/Images/Presto_Feature_3.png" alt="presto survey 1">
                <br><br>
                <span>high complexity</span>
                <hr class="divider">
                <span>high impact</span>
            </div>
            <div class="col-md-3 text-center prest_survey_element">
                <img class="survey_img" src="../Assets/Images/Presto_Feature_4.png" alt="presto survey 1">
                <br><br>
                <span>low-high complexity</span>
                <hr class="divider">
                <span>high impact</span>
            </div>
        </div>
    </div>

    <!-- User Journey -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="small_black">user persona</span>
                <span class="text">To evaluate at what particular moment our user feels frustrated we applied User
                    Journey Map method. We found that
                    searching information using multiple resources and switching between them is both confusing and
                    annoying. The climactic
                    bringdown happens when inconsistency in schedules and sometimes even absence of transport’s
                    timetables cause missing the
                    bas or train.</span>
                <img class="persona" src="../Assets/Images/Presto_User_Journey.png" alt="presto user journey">
            </div>
        </div>
    </div>

    <!-- Problem Statement -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="small_black">Problem Statement</span>
                <During class="text">During the user interviews, we discovered that there is no go-to app for transit
                    planning.
                    Therefore, we believe that accurate schedule planning is important and that we might be able to help
                    if we can include that feature onto an existing app.
                    We might do this by improving the Presto app functionality with reliable scheduling features. Doing
                    this will allow our product to be the go-to app for GTA riders.</span>
            </div>
        </div>
    </div>

    <!-- Competative Analysis -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="small_black">competitor analysis</span>
                <span class="text">To evaluate market we conducted Competitor Analysis. Our major contenders are
                    Google Maps and Rocketman Mobile App. With
                    certain advantages that these services have we found number of issues, among them ransit times might
                    not be the most
                    accurate at times, GPS detection can be iffy at times, won't update real-time location during
                    travel.</span>
                <img class="persona" src="../Assets/Images/Presto_Competitor_Analysis.png" alt="presto user journey">
            </div>
        </div>
    </div>

    <!-- Wireframe -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="green">crafting the product</span>
                <span class="black">WIREFRAMIING & PROTOTYPING</span>
                <span class="text">Since we work on a new feature for existing Presto app, we focused on designing and
                    cohesiveness of this feature with
                    already existing functionalities.</span>
            </div>
        </div>
    </div>


    <!-- User Flow -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="small_black">user flow</span>
                <span class="text">With new feature implemented our users will get an extra paths. We defined the user
                    flow for interacting with new
                    functionality.
                </span>
            </div>
        </div>
    </div>

    <!-- On Launch-->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-12 presto_section">
                <span class="green_under">on launch</span>
                <img class="persona" src="../Assets/Images/Presto_User_Flow_On_Launch.png" alt="presto user journey">
            </div>
        </div>
    </div>

    <!-- Register-->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-12 presto_section">
                <span class="green_under">Registration / Log in</span>
                <img class="persona" src="../Assets/Images/Presto_User_Flow_Register.png" alt="presto user journey">
            </div>
        </div>
    </div>

    <!-- Planning-->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-12 presto_section">
                <span class="green_under">planning feature</span>
                <img class="persona" src="../Assets/Images/Presto_User_Flow_Planning.png" alt="presto user journey">
            </div>
        </div>
    </div>

    <!-- Starting on Paper -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="green">sketches</span>
                <span class="black">STARTING ON PAPER</span>
                <img class="persona" src="../Assets/Images/Presto_Starting_On_Paper.png" alt="presto user journey">
            </div>
        </div>
    </div>

    <!-- Low-fi -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="green">LO-FI PROTOTYPE</span>
                <span class="black">WIREFRAMES’ PROGRESSION</span>
                <img class="persona" src="../Assets/Images/Presto_Starting_On_Paper.png" alt="presto user journey">
            </div>
        </div>
    </div>

    <!--lo-fo testing & iterations-->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="small_black">lo-fo testing & iterations</span>
                <span class="text">We conducted 5 usability tests, compiled the feedback and taking into account all the
                    usability testing’s findings
                    completed iteration and transfered our prototypy into hi-fidelity version.
                </span>
            </div>
        </div>
    </div>

    <!-- Usability NOtes -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-8 presto_section">
                <span class="green">usability testing notes</span>
                <ul class="list">
                    <li>“Register” button was not clear</li>
                    <li>Navigation bar was unclear with all the same icons</li>
                    <li>“Planner” section was a little hard to locate</li>
                    <li>Unclear if certain elements on options page were clickable</li>
                    <li>Unclear on what “Track” button would do</li>
                    <li>Unclear about bus times page</li>
                    <li>Filler text was a bit off-putting</li>
                    <li>Certain filler elements caused more confusion</li>
                </ul>
                </span>
            </div>
        </div>
    </div>

    <!-- High-fi -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="green">final iteration</span>
                <span class="black">HI-FI PROTOTYPE</span>
                <img class="persona" src="../Assets/Images/Presto_Starting_On_Paper.png" alt="presto user journey">
            </div>
        </div>
    </div>

    <!--project takeaways & future opportunities-->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 presto_section">
                <span class="small_black">project takeaways & future opportunities</span>
                <span class="text">We have developed and added new functionings to the existing Presto Mobile App. Our
                    new PRESTO trip planner feature is
                    designed to make the transit planning process more efficient and easy to use. And it does away with
                    the need to have
                    multiple tools to commute in Toronto and GTA.
                </span>
                <br>
                <span class="text">
                    For further extention we consider build out some of the other mentioned features in the app (ie.
                    Share funds, parking
                    spots availability).
                </span>
            </div>
        </div>
    </div>




    <!-- Lower Part of the page  -->
    <section class="main">
        <!-- Page Listers -->
        <div class="row pp-first">
            <div class="col-6">
                <a href="../Views/PollutionProbe.html" class="project" tabindex="-1" role="button" aria-disabled="true">
                    ᐊ View Previous Project</a>
            </div>
            <div class="col-6 text-end ">
                <a href="../Views/costco.html" class="project" tabindex="-1" role="button" aria-disabled="true">
                    View Next Project ᐅ</a>
            </div>
        </div>
    </section>



    <!-- Footer -->
    <div class="footer">
        <div class="row">
            <div class="d-flex justify-content-center footer_lets">
                <span>Let's work together!</span>
            </div>
            <div class="d-flex justify-content-center footer_contact">
                <span>contact me at: <a href="mailto:iriny.gadimova@gmail.com"
                        class="email">iriny.gadimova@gmail.com</a></span>
            </div>
        </div>
    </div>
    <div class="row lower_footer">
        <div class="col-1 col-md-4"></div>
        <div class="col-10 col-md-4">
            <div class="d-flex justify-content-center join">
                <span>or join me on social:</span>
            </div>
            <div class="d-flex justify-content-evenly links">
                <a class="navbar-brand" target="_blank" href="https://www.linkedin.com/in/irinagadimova/">
                    <img src="../Assets/Images/linkedin_icon.png" alt="logo" width="35" height="35">
                </a>
                <a class="navbar-brand" target="_blank" href="https://dribbble.com/Irinagdm/shots">
                    <img src="../Assets/Images/dribbble_icon.png" alt="logo" width="35" height="35">
                </a>
                <a class="navbar-brand" target="_blank" href="https://www.behance.net/irinagadimova">
                    <img src="../Assets/Images/behance-icon.png" alt="logo" width="50" height="30">
                </a>
            </div>
        </div>
        <div class="col-1 col-md-4"></div>
    </div>

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
    <script src="../Scripts/main.js"></script>
</body>

</html>